<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Listing</title>
</head>
<body>
    <h2>Add new listing</h2>
    <form method="POST" action="/listings">

     <input name="title" placeholder="Title" type="text">
     <br><br>
     <input name="description" placeholder="Description" type="text">
     <br><br>
     <input name="img" placeholder="Imag url" type="text">
     <br><br>
     <input name="price" placeholder="Price" type="number">
     <br><br>
     <input name="location" placeholder="Location" type="text">
     <br><br>
     <input name="country" placeholder="Country" type="text">
     <br><br>
     <button>Submit</button>
    </form>
    
</body>
</html>